* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;

    background-image: url("/assets/black-to-blue-vertical-gradient.png");
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

/* styling the header */
header {
    background: rgba(0, 255, 255, 0.5);
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header section #nav_bar {
    display: flex;
}

header section #nav_bar p {
    padding: 20px;

    font-size: 30px;
    font-weight: 900;
}

header #logo {
    font-size: 72px;
    font-weight: 900;
}

/* styling the middle */
#landing_page {
    background: rgba(0, 127.5, 255, 0.5);
    height: 750px;
    width: 100%;
}

/* styling the footer */
footer {
    background: rgba(0, 0, 255, 0.5);
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer #footer_text {
    font-size: 24px;
}

/* styles for additional placeholder elements */
#placeholder_block {
    height: 80px;
    width: 400px;
    background-color: orange;
}