* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-image: url("/assets/white_light_blue_background.png");
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

/* styling the header */
header {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-style: ridge;
    border-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;

    margin: 5px 0px;
}

header section #nav_bar {
    display: flex;
}

header section #nav_bar p {
    padding: 10px;

    font-size: 150%;
    font-weight: 900;

    color: white;
}

header #logo {
    font-size: 200%;
    font-weight: 900;

    color:white;
}

/* styling the middle */
#landing_page {
    background: rgba(0, 0, 0, 0.5);
    height: 40%;
    width: 100%;

    border-style: ridge;
    border-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;

    margin: 5px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#landing_page #introduction p {
    width: 500px;

    margin: 50px;

    font-size: 24px;
    line-height: 40px;
    color: white;
    text-align: justify;

    display: flex;
    align-items: center;
}

#landing_page #landing_image  {
    margin: 50px;

    display: flex;
    justify-content: end;
}

#landing_image img {
    height: 75%;
    width: 75%;

    border-radius: 20px;
    box-shadow: 10px 10px 5px;
}

/* styling the content */
#past_experience {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;

    border-style: ridge;
    border-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;

    margin: 5px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#past_experience .content_box {
    width: 400px;

    margin: 20px;

    border-style: ridge;
    border-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;
}

#past_experience #backend_title {
    font-size: 200%;
    font-weight: bold;

    margin-left: 10px;

    color:white;
}

#past_experience #frontend_title {
    font-size: 200%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

#past_experience #software_title {
    font-size: 200%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

#past_experience #hardware_title {
    font-size: 200%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

#past_experience #backend_info {
    font-size: 100%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

#past_experience #frontend_info {
    font-size: 100%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

#past_experience #software_info {
    font-size: 100%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

#past_experience #hardware_info {
    font-size: 100%;
    font-weight: bold;
    margin-left: 10px;

    color:white;
}

/* styling the footer */
footer {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-style: ridge;
    border-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;

    margin:5px 0px;
}

footer #footer_text {
    font-size: 100%;
    font-weight: bold;
    text-align: center;

    color:white;
}

/* styles for additional placeholder elements */
#placeholder_block {
    height: 400px;
    width: 400px;
    background-color: orange;
}

/* ensures elements remain full on screen in as full view as possible */
@media screen and (max-width: 768px) {
    header, #past_experience {
      flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    #landing_page {
      flex-direction: column;
    }
}